
@{
    ViewData["Title"] = "ASp.net MVC Wizard Documentation";
}

<br />

<div class="row">
    <div class="col-md-12">
        <br />
        <h3>
            For step by step detailes how to use , build , run and configure asp.net mvc wizard check this blog
        </h3>
        <h2>
            <a href="http://ajamaeen.blogspot.com/2018/03/smart-aspnet-mvc-wizard-part-1.html">
                Asp.net MVC Wizard
            </a>
        </h2>        
    </div>
</div>



