@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- wizard -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6633420316420519"
             data-ad-slot="6558119122"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Sample 1</h2>
        <p>
            <b>All steps in one controller</b>
        </p>
        <a href="@Url.Action("Step1","Sample1")" class="btn btn-success btn-lg btn-block">
            Start Sample1
        </a>
    </div>
    <div class="col-md-6">
        <h2>Sample 2</h2> 
        <p>
            <b>Steps in different controllers</b>
        </p>
        <a href="@Url.Action("Step1","Sample2")" class="btn btn-warning btn-lg btn-block">
            Start Sample 2
        </a>
    </div>
</div>
