<h3>
    Thanks for filling out our form!<br />
    We will look over your message and get back to you by tomorrow. In the meantime,
    you can check the FAQ section, look over our new product collection or browse through our
    latest blog posts.<br />
    Click finish to submit the request.
    <br />
    <a href="http://ajamaeen.blogspot.com">Amer Blog</a>
</h3>